name: CI-build-and-push-image-for-dotnetapp

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: CI-build-and-push-image-for-dotnetapp
      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)
